.dashboard-container379 {
  display: flex;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.sidebar379 {
  width: 250px;
  background-color: #1e3a8a;
  color: #fff;
  padding: 20px;
}
.sidebar379 p{
  text-align: center;
}

.sidebar379 h2 {
  font-size: 30px;
  color: white;
  margin-top: 25px;
  
}


.main-content379 {
  flex: 1;
  padding: 20px;
  background-color: #f9fafb;
}
.header379 p {
  color: #6b7280;
}

.content379 {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.content-box379 {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1 1 300px;
}

.content-box379 h2 {
  color: #1e3a8a;
  margin-bottom: 10px;
}

.content-box379 p {
  color: #4b5563;
}
.profile-name379{
  font-size:30px;
  color: white;
}
.profileimg379{
  border-radius: 50%;
  height: 100px;
  width: 100px;
}
.profile-category379{
  font-size: 15px;
  color:white;
}
.logoutbtn379{
  background-color: rgb(231, 39, 39);
  border-radius: 10px;
  height: 40px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  color:white;
  font-size: medium;
}
.logoutbtn379:hover{
  background-color: rgb(198, 0, 0);
}
